# Strings

In [4]:
def double_word(word):
    return word + word + str(len(word) * 2)

print(double_word("hello"))
print(double_word("abc"))
print(double_word(""))

hellohello10
abcabc6
0

In [2]:
word = "supercalifragilisticexpialidocious"
print(word.index("x"))
print(word.index("l"))

21
7

In [3]:
" yes ".strip()

'yes'

In [4]:
" Yes and No ".strip()

'Yes and No'

In [5]:
" Yes ".lstrip()

'Yes '

In [6]:
" Yes ".rstrip()

' Yes'

In [7]:
"The number of times e occurs in this string is 4".count("e")

4

In [8]:
"Forest".endswith("rest")

True

In [9]:
"Forest".isnumeric()

False

In [10]:
"12345".isnumeric()

True

In [11]:
int("1111") + int("9999")

11110

In [12]:
" ".join(["This", "is", "a", "statement", "joined", "by", "spaces"])

'This is a statement joined by spaces'

In [14]:
"...".join(["This", "is", "a", "statement", "joined", "by", "three", "dots"])

'This...is...a...statement...joined...by...three...dots'

In [15]:
"This is an example of the strings being split".split()

['This', 'is', 'an', 'example', 'of', 'the', 'strings', 'being', 'split']

## Formating Strings

In [17]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

Hello Manny, your lucky number is 15

In [18]:
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Your lucky number is 15, Manny.

In [22]:
def student_grade(name, grade):
    return "{} received {}% on the exam".format(name, grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [23]:
price = 7.5
with_tax = price * 1.09
print("Base Price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax))

Base Price: $7.50. With Tax: $8.18

In [24]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [25]:
example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

this is an example of using the format() method on a string

In [26]:
first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

apple carrot banana

## Quiz

In [29]:
def is_palindrome(input_string):
    new_string = ""
    reverse_string = ""
    for string in input_string.lower():
        if string.strip():
            new_string = new_string + string
            reverse_string = string + reverse_string
    if new_string==reverse_string:
        return True
    return False

print(is_palindrome("Never Odd or Even"))
print(is_palindrome("abc"))
print(is_palindrome("kayak"))

True
False
True

In [30]:
"""Using the format method, fill in the gaps in the convert_distance 
function so that it returns the phrase "X miles equals Y km", with Y
 having only 1 decimal place. For example, convert_distance(12) 
 should return "12 miles equals 19.2 km".
"""

def convert_distance(miles):
    km = miles *1.6
    result = "{} miles equals {:.1f} km".format(miles, km)
    return result

print(convert_distance(12))
print(convert_distance(5.5))
print(convert_distance(11))

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

In [36]:
"""Fill in the gaps in the nametag function so that it uses the 
format method to return first_name and the first initial of 
last_name followed by a period. For example, nametag("Jane", 
"Smith") should return "Jane S."
"""

def nametag(first_name, last_name):
    return "{} {}.".format(first_name, last_name[0])

print(nametag("Jane", "Smith"))
print(nametag("Francesco", "Rinaldi"))
print(nametag("Jean-Luc", "Grand-Pierre"))

Jane S.
Francesco R.
Jean-Luc G.

In [37]:
"""The replace_ending function replaces the old string in a 
sentence with the new string, but only if the sentence ends with 
the old string. If there is more than one occurrence of the old 
string in the sentence, only the one at the end is replaced, n
ot all of them. For example, replace_ending("abcabc", "abc", "xyz") 
should return abcxyz, not xyzxyz or xyzabc. The string comparison 
is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should 
return abcabc (no changes made). 
"""

def replace_ending(sentence, old, new):
    if sentence.endswith(old):
        i = sentence.rfind(old)
        new_sentence = sentence[:i]+new
        return new_sentence
    return sentence

print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
print(replace_ending("The weather is nice in May", "may", "april")) 
print(replace_ending("The weather is nice in May", "May", "April"))

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

# List

In [10]:
'''Using the "split" string method from the preceding lesson, 
complete the get_word function to return the {n}th word from 
a passed sentence. For example, get_word("This is a lesson about 
lists", 4) should return "lesson", which is the 4th word in this 
sentence. Hint: remember that list indexes start at 0, not 1. '''

def get_word(sentence, n):
    sentence = sentence.split(" ")
    if n <= len(sentence) and n>0:
        return(sentence[n-1])
    else:
        return ""

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

In [13]:
'''Let's use tuples to store information about a file: its name, 
its type and its size in bytes. Fill in the gaps in this code to 
return the size in kilobytes (a kilobyte is 1024 bytes) up to 2 
decimal places. '''

def file_size(file_info):
    name, type, size = file_info
    return("{:.2f}".format(size/1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

In [17]:
'''Try out the enumerate function for yourself in this quick 
exercise. Complete the skip_elements function to return every 
other element from the list, this time using the enumerate 
function to check if an element is in an even position or an 
odd position.'''

def skip_elements(elements):
    element = [e for i, e in enumerate(elements) if i % 2 ==0]
    return element

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [19]:
'''The odd_numbers function returns a list of odd numbers between 
1 and n, inclusively. Fill in the blanks in the function, using 
list comprehension. Hint: remember that list and range counters 
start at 0 and end at the limit minus 1.'''

def odd_numbers(n):
    return [x for x in range(0, n+1) if x % 2 != 0]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

In [22]:
'''Given a list of filenames, we want to rename all the files with 
extension hpp to the extension h. To do this, we would like to 
generate a new list called newfilenames, consisting of the new 
filenames. Fill in the blanks in the code using any of the methods 
you’ve learned thus far, like a for loop or a list comprehension.
'''

filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
newfilenames = []
for filename in filenames:
    if filename.endswith(".hpp"):
        filename = filename.replace(".hpp", ".h")
        newfilenames.append(filename)
    else:
        newfilenames.append(filename)

print(newfilenames)
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [24]:
'''Let's create a function that turns text into pig latin: 
a simple text transformation that modifies each word moving 
the first character to the end and appending "ay" to the end. 
For example, python ends up as ythonpay.
'''

def pig_latin(text):
    words = text.split()
    pigged_text = []

    for word in words:
        word = word[1:] + word[0] + "ay"
        pigged_text.append(word)

    return ' '.join(pigged_text)

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [26]:
'''The permissions of a file in a Linux system are split into 
three sets of three permissions: read, write, and execute for 
the owner, group, and others. Each of the three values can be 
expressed as an octal number summing each permission, with 4 
corresponding to read, 2 to write, and 1 to execute. Or it can 
be written with a string using the letters r, w, and x or - 
when the permission is not granted.

For example: 
640 is read/write for the owner, read for the group, and no 
permissions for the others; converted to a string, it would be: 
"rw-r-----" 755 is read/write/execute for the owner, and 
read/execute for group and others; converted to a string, it 
would be: "rwxr-xr-x" Fill in the blanks to make the code convert 
a permission in octal format into a string format.'''

def octal_to_string(octal):
    result = ""
    value_letters = [(4, "r"), (2, "w"), (1, "x")]
    for digit in [int(n) for n in str(octal)]:
        for value, letter in value_letters:
            if digit >= value:
                result += letter
                digit -= value
            else:
                result += "-"
    return result 

print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

In [27]:
'''The group_list function accepts a group name and a list of 
members, and returns a string with the format: group_name: member1, 
member2, … For example, group_list("g", ["a","b","c"]) 
returns "g: a, b, c". Fill in the gaps in this function to do 
that.
'''

def group_list(group, users):
    members = ", ".join(users)
    return f"{group}: {members}"

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [28]:
'''The guest_list function reads in a list of tuples with the name, 
age, and profession of each party guest, and prints the sentence 
"Guest is X years old and works as __." for each one. For example, 
guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), 
('Amanda', 25, "Engineer")) should print out: Ken is 30 years 
old and works as Chef. Pat is 35 years old and works as Lawyer. 
Amanda is 25 years old and works as Engineer. Fill in the gaps in 
this function to do that. 
'''

def guest_list(guests):
    for x, y, z, in guests:
        print("{} is {} years old and works as {}".format(x,y,z))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

# Dictionaries

In [1]:
'''
Complete the code to iterate through the keys and values of 
the cool_beasts dictionary. Remember that the items method returns 
a tuple of key, value for each element in the dictionary.
'''

cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for beast, feature in cool_beasts.items():
    print("{} have {}".format(beast, feature))

octopuses have tentacles
dolphins have fins
rhinos have horns

In [2]:
'''
The email_list function receives a dictionary, which contains 
domain names as keys, and a list of users as values. Fill in 
the blanks to generate a list that contains complete email 
addresses (e.g. diana.prince@gmail.com).
'''

def email_list(domains):
    emails = []
    for domain, users in domains.items():
        for user in users:
            emails.append(user+'@'+domain)
        return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com']

In [4]:
'''
The groups_per_user function receives a dictionary, which 
contains group names with the list of users. Users can belong 
to multiple groups. Fill in the blanks to return a dictionary 
with the users as keys and a list of their groups as values. 
'''

def groups_per_user(group_dictionary):
    user_groups = {}
    for group, users in group_dictionary.items():
        for user in users:
            user_groups[user] = user_groups.get(user,[]) + [group]

    return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [6]:
'''
The dict.update method updates one dictionary with the 
items coming from the other dictionary, so that existing 
entries are replaced and new entries are added. 
What is the content of the dictionary “wardrobe“ at the end 
of the following code?
'''

wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [7]:
'''
The add_prices function returns the total price of all of 
the groceries in the  dictionary. Fill in the blanks 
to complete this function.
'''

def add_prices(basket):
    total = 0
    for items in basket.values():
        total += items
    return round(total, 2) 

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

# Module Review

In [14]:
'''The format_address function separates out parts of the 
address string into new strings: house_number and street_name, 
and returns: "house number X on street named Y". The format of 
the input string is: numeric house number, followed by the 
street name which may contain numbers, but never by themselves, 
and could be several words long. For example, "123 Main Street", 
"1001 1st Ave", or "55 North Center Drive". Fill in the gaps to 
complete this function.
'''

def format_address(address_string):
    num, st = address_string.split(' ', 1)
    return f"house number {num} on streen named {st}"

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on streen named Main Street
house number 1001 on streen named 1st Ave
house number 55 on streen named North Center Drive

In [31]:
def format_address(address_string):
    house_number = 0
    street_name = []
    address = address_string.split()  
    for item in address:
        if item.isnumeric():
            house_number = item
        else:
            street_name.append(item) 
    return "house number {} on street named {}".format(house_number, " ".join(street_name))

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [15]:
'''The highlight_word function changes the given word in a 
sentence to its upper-case version. For example, 
highlight_word("Have a nice day", "nice") returns 
"Have a NICE day". Can you write this function in just one line?
'''

def highlight_word(sentence, word):
    return(sentence.replace(word, word.upper()))

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

In [17]:
'''A professor with two assistants, Jamie and Drew, wants an 
attendance list of the students, in the order that they arrived 
in the classroom. Drew was the first one to note which students 
arrived, and then Jamie took over. After the class, they each 
entered their lists into the computer and emailed them to the 
professor, who needs to combine them into one, in the order of 
each student's arrival. Jamie emailed a follow-up, saying that 
her list is in reverse order. Complete the steps to combine 
them into one list as follows: the contents of Drew's list, 
followed by Jamie's list in reverse order, to get an accurate 
list of the students as they arrived.
'''

def combine_lists(list1, list2):
    list1.reverse()
    list2.extend(list1)
    return list2

Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [18]:
'''Use a list comprehension to create a list of squared numbers 
(n*n). The function receives the variables start and end, and 
returns a list of squares of consecutive numbers between start 
and end inclusively.
'''

def squares(start, end):
    return [n*n for n in range(start, end + 1)]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
'''Complete the code to iterate through the keys and values 
of the car_prices dictionary, printing out some information 
about each one.
'''

def car_listing(car_prices):
    result = ""
    for name, price in car_prices.items():
        result += "{} cost {} dollars".format(name, price)+"\n"
    return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul cost 19000 dollars
Lamborghini Diablo cost 55000 dollars
Ford Fiesta cost 13000 dollars
Toyota Prius cost 24000 dollars

In [22]:
def car_listing(car_prices):
    result = ""
    for name, price in car_prices.items():
        result += f"{name} cost {price} dollars"+"\n"
    return result
print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul cost 19000 dollars
Lamborghini Diablo cost 55000 dollars
Ford Fiesta cost 13000 dollars
Toyota Prius cost 24000 dollars

In [24]:
'''Taylor and Rory are hosting a party. They sent out invitations, 
and each one collected responses into dictionaries, with names 
of their friends and how many guests each friend is bringing. 
Each dictionary is a partial list, but Rory's list has more current 
information about the number of guests. Fill in the blanks to combine
both dictionaries into one, with each friend listed only once, and 
the number of guests from Rory's dictionary taking precedence, if a 
name is included in both dictionaries. Then print the resulting 
dictionary.
'''

def combine_guests(guests1, guests2):
    guests2.update(guests1)
    return guests2

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

In [25]:
'''Use a dictionary to count the frequency of letters in the input 
string. Only letters should be counted, not blank spaces, numbers, 
or punctuation. Upper case should be considered the same as lower 
case. For example, count_letters("This is a sentence.") should 
return {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 
'c': 1}.
'''

def count_letters(text):
  result = {}
  text = text.lower()
  for letter in text:
    if letter.isalpha() and letter not in result:
        result[letter] = text.lower().count(letter)
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [26]:
animal = "hippopotamus"

print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [28]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [30]:
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
host_addresses.keys()
print(host_addresses.keys())

dict_keys(['router', 'localhost', 'google'])